.uxp-showcase-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;

    .sidebar-container {
        flex-basis: 12%;
        background-color: #ffffff;
        // box-shadow: 6px 2px 6px 0px rgba(0, 0, 0, 0.08);
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 1px!important ;
        }
        
        ul {
            &.sidebar {
                list-style: none;
                max-height: 100%;
                overflow-y: auto;

                li {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 10px 6px 10px 20px;
                    box-sizing: border-box;
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    text-transform: capitalize;
                    cursor: pointer;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 1px;
                        background-color: #424242;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    }

                    &.section {
                        padding-left: 0;

                        &:before {
                            display: none;
                        }
                        &:hover {
                            border-top: 1px solid transparent;
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }

    .content {
        flex-basis: 88%;
        height: 100%;
        overflow: auto;

        .uxp-showcase {
            width: auto;
            height: auto;
            margin: 0;
            padding: 20px;

            .showcase-section {
                width: auto;
                height: auto;
                margin: 20px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;

                &.inline {
                    display: inline-flex;
                }

                &.bgWhite {
                    background-color: white;
                    padding: 10px;
                }

                .example {
                    width: auto;
                    min-width: 200px;
                    border-radius: 10px;
                    margin: 5px;
                    box-sizing: border-box;
                    height: 90%;
                }

                &#filter-panel {
                    padding: 15px;
                }
            }
        }
    }
}